#{extends 'main.html' /}
#{set title:'Entrar no Sistema' /}

<div class="w-100 h-100 d-flex">
	<form action="@{Logins.logar}" class="p-4 w-100 m-auto form-container shadow-lg rounded-5">
		
		<h1 class="text-center mb-4">Login</h1>
		<div class="row g-3 mb-2">
			<div class="col">
				<label for="floatingLogin" class="form-label">Login</label>
				<input type="text" name="username" class="form-control" id="floatingLogin" placeholder="Informe seu Login" required="required">
			</div>
		</div>
		<div class="row g-3 mb-3">
			<div class="col">
				<label for="floatingSenha" class="form-label">Senha</label>
				<input type="password" name="senha" class="form-control" id="floatingSenha" placeholder="Informe sua senha" required="required">
			</div>
		</div>		
		<div class="row mb-4">
			<div class="col text-center">
				<label for="floatingSenha" class="form-label fst-italic">Não possui conta? Crie sua conta <a href="@{Logins.form}" class="link-warning">aqui</a></label>
			</div>
		</div>		
		<input type="submit" value="Entrar" class="btn btn-dark w-100 py-2 mb-2 rounded-4">
	</form>
</div>