<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    </head>
    <body class=" align-items-center">
    
    	<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
		  <div class="container-fluid">
		    <a class="navbar-brand fw-bold" href="#">
		    	<img src="@{'public/images/logo.png'}" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
		    	Fic Fino
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
		      <ul class="navbar-nav nav-underline">
		       <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Cadastrar
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="@{personais.form(idConta)}">Personal</a></li>
		            <li><a class="dropdown-item" href="@{clientes.form(idConta)}">Cliente</a></li>
		            <li><a class="dropdown-item" href="@{academias.form}">Academia</a></li>
		          </ul>
		        </li>
		       <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Visualizar
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="@{personais.listar}">Personais cadastrados</a></li>
		            <li><a class="dropdown-item" href="@{clientes.listar}">Clientes cadastrados</a></li>
		            <li><a class="dropdown-item" href="@{academias.listar}">Academias cadastradas</a></li>
		          </ul>
		        </li>
		      </ul>
		      <div class="d-flex justify-content-end">

		      	  #{if !session['usuarioLogado']}
				  	<a class="btn btn-light" href="@{logins.formLogar}">Login</a>      
				  #{/if}
				  #{else}
				  	<div class="text-light d-flex align-items-center">
					  	 #{if session['Status'].equals("ADMINISTRADOR")}
					  	 	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
							  <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
							</svg>
					 	 #{/if}
					 	 #{else}
						  		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
								  <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
								  <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z"/>
								</svg>
					 	 #{/else}
						  	<a class="text-light fw-bold text-decoration-none ms-1 me-2">${session['usuarioLogado']}</a>
						  	<a class="btn btn-light" href="@{logins.sair}">Sair</a>
				  	</div>
				  #{/else}
		      </div>
		    </div>
		  </div>
		</nav>

		#{if flash.success}
			<div class="alert alert-secondary alert-dismissible fade show" role="alert">
				${flash.success}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		#{/if}
    	#{if flash.error}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				${flash.error}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		#{/if}
    
    	
        #{doLayout /}
        
        <script src="@{'/public/javascripts/jquery-3.7.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="@{'/public/javascripts/bloqueio.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
        <script src="@{'/public/javascripts/main.js'}"></script>
        <script>
			$('#contato').mask('(00) 0000-0000');
			$('#cpf').mask('000.000.000-00', {reverse: true});
			$('#salario').mask("#.##0,00", {reverse: true});
			$('#cnpj').mask('00.000.000/0000-00', {reverse: true});
		</script>
        #{get 'moreScripts' /}
    </body>
</html>
